body{ background-color: var(--white) }

h1, h2, h3, h4, p, img {
  line-height: 1;
  letter-spacing: .001em;
  position: relative;
}

/* Semi bold, headings */
h1 { font-family: 'CMT' }
/* Regular, for body text */
h2 { font-family: 'CMTI' }
/* Regular, for sub-headings */
h3 { font-family: 'CMT' }
/* Light, for style */
h4 { font-family: 'CMTI' }
p  { font-family: 'CMT' }

a:hover { text-decoration: none; color: inherit }
a { color: black; font-size: inherit }

.avoid-wrap { display:inline-block; font-size: inherit }

.w { color: white }
